<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('微信用户信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>昵称：</label>
                                <input type="text" name="nickName"/>
                            </li>
                            <li>
                                <label>姓名：</label>
                                <input type="text" name="userName"/>
                            </li>
                            <li>
                                <label>用户ID：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-info" onclick="syncUserINfo()" shiro:hasPermission="system:wechatUser:import">
		            <i class="fa fa-upload"></i> 数据同步
		        </a>
		        <a class="btn btn-info" onclick="openConfigModel()" shiro:hasPermission="system:wechatUser:edit">
		            <i class="fa fa-chain"></i> 配置人员关系
		        </a>
		        <a class="btn btn-danger" onclick="relieveRelation()" shiro:hasPermission="system:user:remove">
	                <i class="fa fa-remove"></i> 解绑关系
	            </a>
	            <a class="btn btn-danger" onclick="removeAll()" shiro:hasPermission="system:user:remove">
	                <i class="fa fa-remove"></i> 删除全部
	            </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:wechatUser:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:wechatUser:remove')}]];
        var prefix = ctx + "system/wechatUser";
        
        function initTable(){
        	var options = {
                    url: prefix + "/list",
                    createUrl: prefix + "/add",
                    updateUrl: prefix + "/edit/{id}",
                    removeUrl: prefix + "/remove",
                    exportUrl: prefix + "/export",
                    modalName: "微信用户信息",
                    columns: [{
                        checkbox: true
                    },
                    {
                        field: 'openId',
                        title: 'openId',
                        visible: false
                    },
                    {
                        title: '头像',
                        formatter: function(value, row, index) {
                        	return $.table.imageView(row.headimgurl);
    				    }
                    },
                    {
                        field: 'nickName',
                        title: '昵称'
                    },
                    {
                        field: 'userName',
                        title: '姓名'
                    },
                    {
                        field: 'sex',
                        title: '性别'
                    },
                   
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.openId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.openId + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                    }]
                };
                $.table.init(options);
        }

        $(function() {
        	initTable();
        });
        
        function syncUserINfo(){
			var url=ctx+"system/wechatUser/syncUserINfo";
			$.modal.loading("数据同步中");
			$.ajax({
				type: "post",
				url: url,
				data: {},
				success: function(data) {
					$.modal.closeLoading();
					initTable();//刷新
				}
			});
		}
        
        function openConfigModel(){
        	var openId =$.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        	var url=ctx+"system/wechatUser/config/"+openId;
        	$.modal.open("人员配置", url);
        }
        
        function removeAll(){
        	$.modal.confirm("确认要全部删除吗?", function() {
        		var url=ctx+"system/wechatUser/removeAll";
    			$.modal.loading("数据同步中");
    			$.ajax({
    				type: "post",
    				url: url,
    				data: {},
    				success: function(data) {
    					$.modal.closeLoading();
    					$.table.refresh();//刷新
    				}
    			});
	    	});
        }
        
        function relieveRelation(){
        	var wechatUserId =$.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        	if ($.common.isEmpty(wechatUserId)) {
    	        $.modal.alertWarning("请至少选择一条记录");
    	        return;
    	    }
        	
        	$.modal.confirm("确认要解除关系吗?", function() {
        		var url=ctx+"system/wechatUser/relieveRelation?wechatUserId="+wechatUserId;
    			$.ajax({
    				type: "post",
    				url: url,
    				data: {},
    				success: function(data) {
    					$.table.refresh();//刷新
    				}
    			});
	    	});
        }
    </script>
</body>
</html>