<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('用户配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-user-edit" th:object="${sysUser}">
            <h4 class="form-header h4">基本信息</h4>
            <input name="userId"  type="hidden"  th:field="*{userId}" />
            <div class="row">
            	<label class="col-sm-2 control-label is-required">用户名称：</label>
                <div class="col-sm-4">
                    <input name="userName" disabled="" placeholder="请输入用户名称" class="form-control" type="text" maxlength="30" th:field="*{userName}" required>
                </div>
                <label class="col-sm-2 control-label">归属部门：</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="deptName" disabled=""  th:field="*{dept.deptName}">
                </div>
            </div>
            <h4 class="form-header h4">管理组织</h4>
            <div class="row">
                  <div class="form-group">
                      <label class="col-xs-2 control-label">配置组织：</label>
                      <div class="col-xs-10">
                          <div th:each="dept : ${sysDepts}" class="checkbox check-box">
	                         <div th:if="${#strings.containsIgnoreCase(configDeptIds,dept.deptId)}">
		                         <label>
		                         	<input type="checkbox" value="" checked="" name="deptId" th:value="${dept.deptId}" th:text="${dept.deptName}"> <i></i>
		                         </label>
		                     </div>
		                     <div th:unless="${#strings.containsIgnoreCase(configDeptIds,dept.deptId)}">
		                         <label>
		                         	<input type="checkbox" value="" name="deptId" th:value="${dept.deptId}" th:text="${dept.deptName}"> <i></i>
		                         </label>
		                     </div>
	                     </div>
                      </div>
                  </div>
            </div>
        </form>
    </div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
        var prefix = ctx + "system/user";
       
        function submitHandler() {
        	if ($.validate.form()) {
                $.operate.save(prefix + "/config", $('#form-user-edit').serialize());
            }
	    }
    </script>
</body>
</html>